*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.barra{
    background-color: #255ee9;
}

.container{
    background-color: orange;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.sfondo{
    background-color:#255ee9;
    height: 500px;
    justify-content: center;
}

.presentazione{
    background-color: orange;
    height: 400px;
    width: 750px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*main*/

section{
    padding: 50px 0px;
    justify-content: center;
    background-color: aquamarine;

}

.blocco{
    height: 500px;
    width: 1000px;
    background-color: blueviolet;
    display: flex;
}

.grande{
    width: 60%;
    height: 100%;
    background-color: red;
}

.piccolo{
    width: 40%;
    height: 100%;
    background-color: brown;
}




